@page
@using Microsoft.Extensions.Localization;
@using SUDMarin.Resources;
@inject IStringLocalizer<SharedResource> sl;
@{

    var nav1 = sl["nav1"].Value;
    var nav2 = sl["nav2"].Value;
    var nav3 = sl["nav3"].Value;
    var nav4 = sl["nav4"].Value;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/testimonialsStyles.css">
    <link rel="stylesheet" href="~/css/sharedStyles.css">
    <title>SUD Marine</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>

    

    <div class="welcome-container">
        <div class="welcome-title">TESTIMONIALS</div>
    </div>


    <div class="main-container">
        <div class="testimonials-container">
            <div class="testimonials-column column-1">
                <a class="testimonial" href="https://www.ctt.com.tr">
                    <div class="testimonial-text">
                        Suspendisse nec ligula non lectus dictum varius. Nulla ultrices libero et sem aliquam, nec malesuada metus efficitur. Maecenas faucibus dignissim velit in vehicula. Praesent eu arcu vitae orci rutrum auctor ac a augue. Praesent vehicula diam quis tellus ultricies, id efficitur velit congue.
                    </div>
                    <div class="testimonial-user">
                        <img class="testimonial-user-picture" src="/img/turkey.png">
                        <div class="testimonial-user-info">
                            <span class="testimonial-user-name">Mert METIN</span>, CTT Denizcilik IT sorumlusu
                        </div>
                    </div>
                </a>
                <div class="testimonial">
                    <div class="testimonial-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis augue in lacus iaculis, ac sollicitudin dolor pulvinar. Nam nec erat mauris. Fusce imperdiet, ante ac molestie finibus, enim sapien pulvinar neque, non volutpat metus orci a nulla.
                    </div>
                    <div class="testimonial-user">
                        <img class="testimonial-user-picture" src="/img/turkey.png">
                        <div class="testimonial-user-info">
                            <span class="testimonial-user-name">Mert METIN</span>, CTT Denizcilik IT sorumlusu
                        </div>
                    </div>
                </div>
                <div class="testimonial">
                    <div class="testimonial-text">
                        Vivamus efficitur est auctor ligula dapibus, vel mollis nulla pharetra. Sed faucibus nisl vel quam sollicitudin, quis aliquet ante feugiat. Duis quis lacus in massa ultricies venenatis nec a lectus. Aliquam erat volutpat. Ut pulvinar orci at turpis tincidunt, nec ornare mi blandit. In vel augue et enim interdum posuere.
                    </div>
                    <div class="testimonial-user">
                        <img class="testimonial-user-picture" src="/img/japan.png">
                        <div class="testimonial-user-info">
                            <span class="testimonial-user-name">Jack London</span>, Writer
                        </div>
                    </div>

                </div>
            </div>
            <div class="testimonials-column column-2">
                <div class="testimonial">
                    <div class="testimonial-text">
                        Gocargo people professional and  Gocargo people professional and courteous attitude, expert knowledge and patience hand courteous attitude, expert knowledge and patience handling our specific issues are very important to our customer
                    </div>
                    <div class="testimonial-user">
                        <img class="testimonial-user-picture" src="/img/turkey.png">
                        <div class="testimonial-user-info">
                            <span class="testimonial-user-name">Mert METIN</span>, CTT Denizcilik IT sorumlusu
                        </div>
                    </div>
                </div>
                <div class="testimonial">
                    <div class="testimonial-text">
                        Proin euismod justo enim, non tempor risus imperdiet eu. Sed ut libero non justo condimentum pretium nec quis sapien.
                    </div>
                    <div class="testimonial-user">
                        <img class="testimonial-user-picture" src="/img/turkey.png">
                        <div class="testimonial-user-info">
                            <span class="testimonial-user-name">Mert METIN</span>, a
                        </div>
                    </div>
                </div>
                <div class="testimonial">
                    <div class="testimonial-text">
                        Donec at velit sed ipsum tincidunt feugiat. Vestibulum consectetur, mauris ac iaculis pretium, est nulla malesuada ante, sed tincidunt odio turpis ac purus. Curabitur euismod orci eget sem volutpat, sit amet finibus risus mattis. Aenean sagittis, nunc quis euismod lobortis, lacus arcu pharetra lectus, a faucibus justo eros non metus. Maecenas vulputate est eget nibh faucibus, sed pretium tellus sollicitudin. Duis porttitor euismod dolor, vel dignissim turpis tempus in. Integer aliquet purus a lectus tincidunt suscipit. Curabitur congue, velit eget tristique auctor, est risus semper ipsum, eu commodo nulla justo a lorem. Nulla eget mi lectus. Vivamus commodo, lorem vel facilisis luctus, quam lacus consequat massa, sit amet faucibus justo augue ut odio. Suspendisse eu commodo turpis. Quisque nec libero in nibh hendrerit suscipit. Fusce maximus tellus libero, ac sagittis lectus viverra quis. Vestibulum condimentum tellus sed tellus aliquam venenatis. Sed id eleifend nisi. Aenean eget tortor vel purus volutpat efficitur ac in leo. Sed vel sem ut nulla malesuada sollicitudin. Donec posuere, velit ut tristique sollicitudin, ipsum tellus vehicula purus, nec aliquet eros dolor ac odio.
                    </div>
                    <div class="testimonial-user">
                        <img class="testimonial-user-picture" src="/img/profile.jpg">
                        <div class="testimonial-user-info">
                            <span class="testimonial-user-name">Mert METIN</span>, CTT Denizcilik IT sorumlusu
                        </div>
                    </div>

                </div>
            </div>
            <div class="testimonials-column column-3">
                <div class="testimonial">
                    <div class="testimonial-text">
                        Gocargo people professional and  Gocargo people professional and courteous attitude, expert knowledge and patience hand courteous attitude, expert knowledge and patience handling our specific issues are very important to our customer
                    </div>
                    <div class="testimonial-user">
                        <img class="testimonial-user-picture" src="/img/turkey.png">
                        <div class="testimonial-user-info">
                            <span class="testimonial-user-name">Mert METIN</span>, CTT Denizcilik IT sorumlusu
                        </div>
                    </div>
                </div>
                <div class="testimonial">
                    <div class="testimonial-text">
                        Gocargo people professional and courteous attitude, expert knowledge and patience handling our specific issues are very important to our customer
                    </div>
                    <div class="testimonial-user">
                        <img class="testimonial-user-picture" src="/img/turkey.png">
                        <div class="testimonial-user-info">
                            <span class="testimonial-user-name">Mert METIN</span>, CTT Denizcilik IT sorumlusu
                        </div>
                    </div>
                </div>
                <div class="testimonial">
                    <div class="testimonial-text">
                        Gocargo people professional and courteous attitude, expert knowledge and patience hand Gocargo people professional and courteous attitude, expert knowledge and patience hand Gocargo people professional and courteous attitude, expert knowledge and patience hand Gocargo people professional and courteous attitude, expert knowledge and patience hand Gocargo people professional and courteous attitude, expert knowledge and patience handling our specific issues are very important to our customer
                    </div>
                    <div class="testimonial-user">
                        <img class="testimonial-user-picture" src="/img/turkey.png">
                        <div class="testimonial-user-info">
                            <span class="testimonial-user-name">Mert METIN</span>, CTT Denizcilik IT sorumlusu
                        </div>
                    </div>

                </div>
                <div class="testimonial">
                    <div class="testimonial-text">
                        a
                    </div>
                    <div class="testimonial-user">
                        <img class="testimonial-user-picture" src="/img/turkey.png">
                        <div class="testimonial-user-info">
                            <span class="testimonial-user-name">Mert METIN</span>, CTT Denizcilik IT sorumlusu
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="menu-container">
            
        </div>
    </div>
    








   


</body>
</html>


