.welcome-container {
    height: 300px;
    background-image: url("../img/cargo-plane-wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-title {
    font-size: 50px;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    padding: 50px;
    background-color: #fff;
}

.content-container-left {
    flex: 3;
    min-width: 450px;
    color: #777;
}

.content-container-right {
    flex: 2;
    min-width: 400px;
}

.content-title {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #333;
}

.content-first {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap-reverse;
    margin: auto;
}

.content-left-text {
    max-width: 500px; 
}

    .content-left-text span {
        font-weight: 700;
        color: #444;
    }

.content-right-image {
    width: 300px;
    align-self: center;
    margin: -30px;
}

.content-second {
    padding-top: 10px;
}



.contact-us-container {
    background-image: url("~/img/HLAG_Wallpaper_stack-containers.jpg");
    height: 15vw;
    background-position: center;
    background-size: cover;
    padding-top: 5vw;
}

.contact-us-panel {
    background: rgba(0, 0, 0, 0.4);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    height: 10vw;
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-us-text {
    margin: auto;
    text-align: center;
    user-select: none;
    width: auto;
    font-size: 2vw;
    color: #ddc;
}


.contact-us-button {
    margin: auto;
    width: 10vw;
    height: 5vw;
    cursor: pointer;
    background-color: rgba(218, 165, 32, 1);
    color: #fff;
    padding-left: 3px;
    padding-right: 3px;
    border: none;
    font-size: 1.5vw;
    font-weight: 500;
}




.images-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

    .images-container img {
        object-fit: contain;
        width: 200px;
        padding: 7px;
    }

.content-third-title {
    margin-left: 25px;
    font-size: 40px;
    color: #333;
    font-weight: 700;
}

.content-third-columns {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.content-third-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
    flex: 1;
    padding: 10px;
    min-width: 250px;
}

.content-third-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
    padding: 10px;
    flex: 1;
    min-width: 250px;
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.service-card-title {
    color: #444;
    font-weight: 600;
    font-size: 18px;
}

hr {
    position: absolute;
    width: 30px;
    color: rgba(218, 165, 32, 1);
    margin-left: 20px;
    transition: .3s;
}

.content-third:hover hr {
    width: 300px;
    transition: .3s;
    box-shadow: 0px 0px 10px 0px #ccc;
}


.menu-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 450px;
    width: 400px;
}

.menu-item {
    flex: 1;
    width: 100%;
    display: flex;
    background: #fdfdfd;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: 1px solid #ccc;
    transition: .2s;
}

    .menu-item:hover {
        background-color: #ccc;
        transition: .2s;
        box-shadow: 0px 0px 10px 0px #ccc;
        z-index: 3;
    }

        .menu-item:hover a {
            text-decoration: underline;
            color: #337;
            transition: .2s;
        }

    .menu-item a {
        margin-left: 20px;
        text-decoration: none;
        color: #333;
        font-size: 18px;
    }

.active {
    background-color: darkturquoise !important;
}

    .active a {
        color: white !important;
    }


.contact-us-container {
    background-image: url("~/img/HLAG_Wallpaper_stack-containers.jpg");
    height: 15vw;
    background-position: center;
    background-size: cover;
    padding-top: 5vw;
}

@media (max-width: 1024px) {
    .welcome-title{
        font-size: 4vh !important;
    }
    .content-first {
        flex-direction: column-reverse;
        gap: 10vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .content-right-image{
        width: 30vh;
        height: auto;
        padding: 0;
        margin: 0;
    }
    .content-left-text{
        width: 100%;
        max-width: none;
        font-size: 80px;
    }
    .content-container{
        flex-direction: column;
    }
    
    .images-container{
        flex-direction: column;
        gap: 5vh;
        padding-top: 15vh;
        padding-bottom: 15vh;
    }
    .images-container img{
        width: 100%;
    }
    .content-third-columns {
        flex-direction: column;
        text-align: center;
    }
    .content-third-title{
        font-size: 4vh;
        text-align: center;
    }
    
    .content-third-left{
        padding-top: 5vh;
        padding-bottom: 5vh;
        gap: 8vh;

    }
    .content-third-right {
        padding-top: 5vh;
        padding-bottom: 5vh;
        gap: 8vh;
    }
    .service-card-title{
        font-size: 3vh;
        text-align: center;
        width: 100%;
    }
    .content-container-right{
        width: 100%;
    }
    .menu-container{
        width: 100%;
        margin-top: 50px;
        justify-self: center;
        align-items: center;
        
        
    }
    .menu-item a{
        font-size: 80px;
        text-align: center;
    }

}