@page
@using Microsoft.Extensions.Localization;
@using SUDMarin.Resources;
@inject IStringLocalizer<SharedResource> sl;
@{

    var nav1 = sl["nav1"].Value;
    var nav2 = sl["nav2"].Value;
    var nav3 = sl["nav3"].Value;
    var nav4 = sl["nav4"].Value;
}

<!DOCTYPE html>
<head>

    <link rel="stylesheet" href="~/css/servicesSharedStyles.css">
    <link rel="stylesheet" href="~/css/sharedStyles.css">
    <title>SUD Marine</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>

    

    <div class="welcome-container">
        <div class="welcome-title">CONTRACT LOGISTIC</div>
    </div>

    <div class="content-container">
        <div class="content-container-left">

            <div class="content-title">
                LOREM IPSUM
            </div>
            <div class="content-first">
                <div class="content-left-text">
                    <span>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus</span>
                    <br /><br />
                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio
                </div>
                <img class="content-right-image" src="/img/2-1.png" />
            </div>
            <div class="content-second">
                tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna

                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc.
            </div>

            <div class="images-container">
                <img src="/img/HLAG_Wallpaper_stack-containers.jpg" />
                <img src="/img/contactwallpaper.jpg" />
                <img src="/img/pexels-pixabay-262353.jpg" />
            </div>


            <div class="content-third">
                <div class="content-third-title">
                    LOREM IPSUM
                </div>
                <hr />
                <div class="content-third-columns">
                    <div class="content-third-left">
                        <div class="service-card">
                            <div class="service-card-title">
                                General Forwarding
                            </div>
                            <div class="service-card-desc">
                                tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna

                            </div>
                        </div>
                        <div class="service-card">
                            <div class="service-card-title">
                                General Forwarding
                            </div>
                            <div class="service-card-desc">
                                tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna

                            </div>
                        </div>
                        <div class="service-card">
                            <div class="service-card-title">
                                General Forwarding
                            </div>
                            <div class="service-card-desc">
                                tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna

                            </div>
                        </div>
                    </div>
                    <div class="content-third-right">
                        <div class="service-card">
                            <div class="service-card-title">
                                General Forwarding
                            </div>
                            <div class="service-card-desc">
                                tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna

                            </div>
                        </div>
                        <div class="service-card">
                            <div class="service-card-title">
                                General Forwarding
                            </div>
                            <div class="service-card-desc">
                                tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna

                            </div>

                        </div>
                        <div class="service-card">
                            <div class="service-card-title">
                                General Forwarding
                            </div>
                            <div class="service-card-desc">
                                tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna

                            </div>
                        </div>
                    </div>
                </div>


            </div>




        </div>
        <div class="content-container-right">

            <div class="menu-container">
                <div class="menu-item">
                    <a href="ocean-freight">ocean freight</a>
                </div>
                <div class="menu-item">
                    <a href="air-freight">air freight</a>
                </div>
                <div class="menu-item">
                    <a href="cargo-express">cargo express</a>
                </div>
                <div class="menu-item active">
                    <a href="contract-logistic">contract logistic</a>
                </div>
                <div class="menu-item">
                    <a href="warehousing">warehousing</a>
                </div>
                <div class="menu-item">
                    <a href="custom-brokerage">custom brokerage</a>
                </div>
                <div class="menu-item">
                    <a href="corporate-transportation">corporate transportation</a>
                </div>
                <div class="menu-item">
                    <a href="goods-transportation">goods transportation</a>
                </div>
            </div>



        </div>
    </div>



    <div class="contact-us-container">
        <div class="contact-us-panel">
            <div class="contact-us-text">Contact us now to get quote for all your global shipping needs</div>
            <button class="contact-us-button" onclick="window.location.href='contact'">Contact Us</button>
        </div>
    </div>

    





</body>
</html>
